name: pull-request
on: [pull_request]

jobs: 
  pull-request: 
    name: pull-request
    runs-on: ubuntu-latest

    steps: 
      - name: "Init repository"
        uses: actions/checkout@v2

      - name: "Install Node"
        uses: actions/setup-node@v2
        with:
          node-version: '16'
      
      - name: "Install dependencies"
        run: npm install

      - name: "Run ESLint"
        run: npm run lint